page-list-ong {

}

.ongList__title {
	background-color: #762ec9;
	padding: 10px;
	text-align: center;
}

.ongList__title h2 {
	font-weight: bold;
	font-size: 15px;
	color: #FFF;
	margin: 0 !important;
	padding: 0 !important;
	text-transform: uppercase;
}